src/main/mule/airpollution_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="airpollution_implementationFlow" doc:id="016bc542-e075-4547-9df6-cad7ca21a268" >
		<http:request method="GET" doc:name="Request" doc:id="e68959dc-4814-4cc8-bc29-7ceaaabec9c8" path="/data/2.5/air_pollution" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "${weather.client_secret}",
	"client_id" : "${weather.client_id}"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appid" : "${weather.appId}",
	"lat" : payload.coord.lat,
	"lon" : payload.coord.lon
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f154b707-849d-4e74-8d0a-832b83ddf5f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
