src/main/mule/weather-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="weatherFlow" doc:id="2abb9e9d-d27f-4797-a97c-b860a853ee4d" >
		<http:request method="GET" doc:name="Request" doc:id="802ec5b9-73d0-43a4-bcbb-e2d699cd7191" config-ref="HTTP_Request_configuration" path='/data/2.5/weather'>
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "${weather.client_secret}",
	"client_id" : "${weather.client_id}"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appid" : "${weather.appId}",
	"lat" : payload.coord.lat,
	"lon" : payload.coord.lon
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7439410e-20be-469d-b408-5a44ddca09f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
